---
layout: default
title: alfaiataria
---

  <div class="row">
    

    <div class="col-lg-10 col-lg-offset-2  col-md-10 col-sm-12 col-xs-12 image-list">
      <ul id="blog-list" class="clearfix">
        

        {% for post in site.posts %}
        {% if post.category == 'blog' %}
          <li class=" blog" >
           
                    
            <a href="{{ post.url }} "><img src="/assets/images/blog/{{ post.image }}" class="img-responsive"></a>
             <h6> <strong>{{ post.title }}</strong>  </h6> <h6 class="right"> {{ post.tags[0] }}, {{ post.ano }} </h6>

           
            
            {% endif %}
            <div class="clearfix"></div>
          </li>
        {% endfor %}
      </ul>
    </div>
</div>
 

<script type="text/javascript">

// infinitescroll() is called on the element that surrounds 
// the items you will be loading more of
  $('#blog-list').infinitescroll({
    
    contentSelector : "#blog-list",
    navSelector  : "li.blog",            
                   // selector for the paged navigation (it will be hidden)
    nextSelector : "li.blog a:first",    
                   // selector for the NEXT link (to page 2)
    itemSelector : "#blog-list > li.blog"          
                   // selector for all items you'll retrieve
  });

</script>