---
layout: default
title: alfaiataria
---

  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        {% include sidebar.html %}
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 image-list">
      <ul id="container" class="posts clearfix">
        

        {% for post in site.posts %}
          <li class="element {{ post.category }} {{ posts.first }} {{ post.tags[0] | downcase | handleize | replace: 'í', 'i'}} {{ post.tags[1] }} {{ post.ano }} " >
            <a href="{{ post.url }}">
                    
            <img src="/assets/images/{{ post.image }}" class="img-responsive grayscale">
           
            
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
</div>
  <script>
          $('#container').imagesLoaded(function() {
        $('#container').isotope({ 
            itemSelector : '.element' 
           
      });
        
        $('a.filter').click(function(e) {
              e.preventDefault();
          var to_filter = $(this).attr('data-option-value');
          if(to_filter == 'all') {
                  $('#container').isotope({filter: '.element'});
          } else {
                  $('#container').isotope({filter: '.'+ to_filter});
          }
          
        });
      });

          // set selected menu items
   var $optionSets = $('.option-set'),
       $optionLinks = $optionSets.find('a');
 
       $optionLinks.click(function(){
          var $this = $(this);
    // don't proceed if already selected
    if ( $this.hasClass('selected') ) {
        return false;
    }
   var $optionSet = $this.parents('.option-set');
   $optionSet.find('.selected').removeClass('selected');
   $this.addClass('selected'); 
});





      
  </script>
