.blog {

	h6 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 8.5px;
		margin-bottom: 20px;
		float: left;


		strong {
			font-size: 8.5px;
		}
	}



	h6.right{
		float: right
	}

}