

body {
  font-family: 'Raleway';
  font-size: 12px;
}

a, ul, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Raleway';
}

a {
  .transition(@duration:0.2s, @ease:ease);
  color:#666;
  font-weight: 500;
}

a:hover {
  color:#4b144b;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;}

.header {
  border-bottom-color: rgb(220, 220, 220);
border-bottom-style: dotted;
border-bottom-width: 1px;
padding-top:10px;
padding-bottom:10px;
  
  a:hover {
  color:#4b144b;
  }

}

.ding-ding {
    font-size: 200%;
    line-height: -1px;
}

.footer {
    border-top-color: rgb(220, 220, 220);
    border-top-style: dotted;
    border-top-width: 1px;
    padding-top:20px;
    padding-bottom:20px;
    color: #666;
    font-size: 10px;
    margin-top: 40px;

    li {
      margin-bottom: 10px;
    }

    .cv-year li{
      margin-bottom: 5px;
    }

    li.cv-list-year {padding-top: 5px;}
}

h1.title {
  margin: -17px 0px 0px 0px;
  display: block;
  text-align: left;
  float: left;
  }

.title {
    a {
    color:rgb(0,0,0);
    font-size: 14.5px;
    font-family: 'Raleway';
    font-weight: 700;
    }

    a:hover {
      color:rgb(135,135,135);
    }

    a .light {
      font-weight: 500;
      font-size: 10px;
      font-family: 'Raleway';
      color: #666;
          text-transform: uppercase;
              letter-spacing: 1px;


    }
}

.contact {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: right;

}

.image-list {margin-top: 40px;}



  a .inside-info {
    z-index: -1;
    position: absolute;
    visibility: hidden;
    color: #FFF;
    padding: 0px;
    line-height: 18px;
    background: rgba(110, 55, 115, 0.10);
    width: 0px;
    top: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 12px;
    .transition(@duration:0.2s, @ease:ease);

    h5 {
      margin-top: 5px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 16px;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }

    li {
      line-height: 18px;
    } 
  } 

  a:hover .inside-info {
    position: absolute;
  z-index: 1;
  background: rgba(110, 55, 115, 0.75);
  width: 100%;
  height: 100%;
  visibility: visible;
  padding: 10px;

  }




