.post {
	margin-top: 40px;
	ul {
		margin-left:0px;
	}
}

.post-img {
@media all and  (min-width: 1200px) {
  	padding-right: 30px;
}
}


.post-img img{
	.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 5px, @alpha: 0.2);


}
.post-info {
	text-align:left;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 1px;
	

	h5 {
	font-size: 13px;
	text-align:left;
	font-weight: 700;

	}


}



.post-links {

	li {
		text-transform: uppercase;
		padding-bottom: 5px;
		border-bottom: 1px dotted rgb(220, 220, 220);
		margin-bottom: 10px;
		font-size: 10px;
		letter-spacing: 1px;

	}
	
	li.topo {
				border-bottom: 0px dotted rgb(220, 220, 220);
				margin-bottom: 20px;
				line-height: 10px;


	}

	.similar {margin-top: 40px;
	
	li.topo {
		font-size: 200%;
		font-weight: 200;
	}
	}
}


	

	/* img.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-transform: translateZ(0); /* this is the magic line! 
	}

	img.grayscale:hover {
    ter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    .transition(@duration:1s, @ease:ease);
    /* where property is the property affected, in this case "all" */
    /* duration is the length of the transition, in this case "2.0s" */
    /* function is the shape of the transition, in this case "linear" 
	}*/
			
		
	