<div class="col-lg-3">
		<ul class="cv-year">
		                <li>NA(O)ME<br>
		                    Rui Manuel Pinheiro Cruz Dias da Silva
		                </li>
		                <li>BIRTH(DATA DE NASCIMENTO) <br>
		                  06/05/1981
		                </li>
		                <li>NAT(C)IONALI(DADE)TY <br>
		                  Portuguese(a)
		                </li>
		                <li>EDUCA(ÇÃO)TION <br>
		                  Communication Design (Design de Comunicação) - FBAUP 2005
		                </li>
		                <li>L(Í)ANGUA(S)GES
		                Portugue(ê)se, E(I)ngl(ê)ish, (E)Span(hol)ish, Fr(a)enc(ês)h
		                </li>
		</ul>
</div>

<div class="col-lg-3">
		<ul class="cv-year">
						<li><strong>2013</strong></li>
		                <li>Exposição colectiva War(m) up na casa bernardo nas Caldas da Raínha<br>
		                </li>
		                <li>Performance Bambino Sound System em Cracóvia 
		                </li>
		                <li class="cv-list-year" ><strong>2012</strong></li>
		                <li>Performance Bambino Sound System em Graz</li>
		                <li>Performance Bambino Sound System em Cracóvia</li>
		                <li>Formador no curso de auto-edição da Oficina do cego</li>
		               

		</ul>
</div>

<div class="col-lg-3">
		<ul class="cv-year">
						 <li><strong>2011</strong></li>
		                <li>Performance Bambino Sound System e exposição soundpostcards.org com Mat Schulz no Espacio Arte Contemporaneo, Montevídeo</li>
		                <li>Performance Bambino Sound System e exposição soundpostcards.org com Mat Schulz em Varsóvia</li>
		                <li>Performance Bambino Sound System e exposição soundpostcards.org com Mat Schulz na pauza gallery, Cracóvia</li>
		                <li>Designer do projecto «a tua arquitectura ‘11-‘13» para a ordem dos arquitectos – cdn</li>

		                <li class="cv-list-year" ><strong>2010</strong></li>
		                <li>Exposição soundpostcards.org com Mat Schulz na Kurant Gallery, Tromso</li>
		                <li>Exposição soundpostcards.org com Mat Schulz na Devotion gallery, Brooklyn, Nova Iorque</li>

		                

		</ul>
</div>

<div class="col-lg-3">
		<ul class="cv-year">
						 

		                <li ><strong>2009</strong></li>
		                <li>Exposição soundpostcards.org com Mat Schulz no Richmix, Londres</li>
		                <li>Designer da editora antígona</li>
		                <li>Aula aberta na cadeira de Gestão em Design na f.B.A.U.P.</li>
		                <li>Conferência sobre a feitura de um livro no ciclo «Arquitectura à Letra»</li>
		                <li class="cv-list-year" ><strong>2008</strong></li>
		                <li>Exposição na galeria jup, Porto</li>
		                <li>Aula aberta na cadeira de Introdução Ao Design na F.B.A.U.P.</li>

		                <li class="cv-list-year" ><strong>2007</strong></li>
		                <li>Designer da editora orfeu negro</li>
		                <li>Exposição soundpostcards.org com Mat Schulz na pauza gallery, Cracóvia
</li>

		</ul>
</div>









