<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta property="og:image" content="http://www.alfaiataria.org/assets/images/blog/{{ page.image }}" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">
        
        <!-- Custom CSS -->
        <link rel="stylesheet"  href="/assets/css/estilinhos.css"/>

        <link rel="icon" type="image/png" href="favico.png" />
        


        <script src="/bower_components/less.js/dist/less-1.7.0.min.js" type="text/javascript"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
        </script>
        <script src="/bower_components/isotope/dist/isotope.pkgd.js" type="text/javascript"></script>
        <script src="/bower_components/masonry/dist/masonry.pkgd.js" type="text/javascript"></script>
        <script src="/bower_components/get-size/get-size.js" type="text/javascript"></script>
        <script src="/bower_components/isotope-cells-by-column/cells-by-column.js" type="text/javascript"></script>
        <script src="/bower_components/isotope-cells-by-row/cells-by-row.js" type="text/javascript"></script>
        <script src="/bower_components/isotope-fit-columns/fit-columns.js" type="text/javascript"></script>
        <script src="/bower_components/isotope-horizontal/horizontal.js" type="text/javascript"></script>
        <script src="/bower_components/imagesloaded/imagesloaded.pkgd.js" type="text/javascript"></script>
        <script src="/bower_components/retina.js/dist/retina.min.js" type="text/javascript"></script>
        <script src="/assets/js/layoutcomplete.js" type="text/javascript"></script> 
    </head>
    <body>

      <div class="container">


          <div class="row header">
            <div class="col-lg-10">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <ul class="main-menu hidden-xs">
              <li><a class="extra" href="/index.html">iso</a></li>
              <li><a class="extra" href="/chronos.html">chronos</a></li>
              <li><a class="extra" href="/blog.html">blog</a></li>
            </ul>
            </div>
            <div class="col-lg-2 contact">
              <a href="mailto:ruisilva@alfaiataria.org">ruisilva@alfaiataria.org</a>
            </div>
          </div>

          <div class="row header hidden-lg hidden-md hidden-sm">
            <div class="col-xs-12 header-2">
            <ul class="main-menu">
              <li><a class="extra" href="/index.html">iso</a></li>
              <li><a class="extra" href="/chronos.html">chronos</a></li>
              <li><a class="extra" href="/blog.html">blog</a></li>
            </ul>
            </div>
          </div>

          <div class="clearfix"></div>

          {{ content }}
          
          <div class="clearfix"></div>
          
          
          <div class="row footer">

            
              {% include footer.html %}

            
            
          </div>
          
          </div>
        </div>

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-28806239-2', 'auto');
  ga('send', 'pageview');

</script>

    </body>
</html>
