---
layout: default
---
<div class="post row">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-8 post-img">
		<img src="/assets/images/{{ page.image }}" class="img-responsive"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
		<div class="post-info">
		<h5>{{ page.title }}</h5 >
		{{ content }}
		</div>
	</div>
	<div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-sm-offset-1 col-md-4 col-sm-4 col-xs-12 col-xs-offset-0 post-links">
	
  <div class="clearfix"></div>
  		 <ul  class="inside-post">
        <li class="topo"> <br/><strong>{{ page.tags[0] }}</strong></li>
    {% for post in site.posts %}
        {% if post.tags[0] == page.tags[0] %}
                <li><a href="{{ post.url }}"><strong>{{ post.title }}</strong> | {{ post.ano }}</a></li>
            {% endif %}
        {% endfor %}

      </ul>

      <ul class="similar">
      <li class="topo"> <br/>+ + + </li>
    {% for post in site.posts limit:20 offset:0 %}
        {% if post.category == page.category and post.tags[0] != page.tags[0] %}
                <li><a href="{{ post.url }}"><strong>{{ post.title }}</strong> | {{ post.tags[0]}} | {{ post.ano }}</a></li>
            {% endif %}
        {% endfor %}

      </ul>
</div>

  
  </section> <!-- #content -->